<?php
$parcel = $block->getParcelInfo();
$price = $block->getQuotesInfo();
$sender = $block->getSenderInfo();
$states = $block->getStates();
$country = $block->getCountry();
$product = $block->getProductTypes();

$orderId = $parcel['increment_id'];
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$order = $objectManager->create('Magento\Sales\Api\Data\OrderInterface')->load($orderId);
$receiver = $order->getShippingAddress()->getData();
$receiver['address'] = $order->getShippingAddress()->getStreet();

$data = $block->ctrl();
?>

<form class="form" id="custom-form" method="post" autocomplete="off" action="">
	<div><input name="form_key" type="hidden" value="<?php /* @escapeNotVerified */ echo $block->getFormKey() ?>" /></div>
	<div id="container" class="main-col">
		<div class="admin__old">
			<div class="entry-edit order-view" id="sales_order_view">
				<div class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-expanded="true" aria-hidden="false">
					<div id="order-messages"></div>

					<section class="admin__page-section order-view-account-information">
					    <div class="admin__page-section-title">
					        <span class="title">Price Quotes &amp; Delivery Information</span>
					    </div>
					    <div class="admin__page-section-content">
					        <div class="admin__page-section-item order-information">
								<div class="admin__page-section-item-title">
									<span class="title">Price Quotes</span>
					            </div>
					            <div class="admin__page-section-item-content">
					                <table class="admin__table-secondary order-information-table">
						                <tbody> 
						                	<tr>
							                    <th>Price</th>
							                    <td><?php /* @escapeNotVerified */ echo $parcel['price']; ?></td>
							                </tr>
						                	<tr>
							                    <th>From Postcode</th>
							                    <td><?php /* @escapeNotVerified */ echo $price['from_postcode']; ?></td>
							                </tr>
						                    <tr>
							                    <th>To Postcode</th>
							                    <td><?php /* @escapeNotVerified */ echo $price['to_postcode']; ?></td>
							                </tr>
						                    <tr>
						                        <th>Country</th>
						                        <td><?php /* @escapeNotVerified */ echo $price['country_name']; ?></td>
						                    </tr>                               
						                </tbody>
						            </table>
					            </div>
					        </div>

					        <div class="admin__page-section-item order-account-information">
					            <div class="admin__page-section-item-title">
					                <span class="title">Delivery Infomation</span>
					            </div>
					            <div class="admin__page-section-item-content">
					                <table class="admin__table-secondary order-account-information-table">
					                    <tbody>
					                    	<tr>
												<th>Provider/Type</th>
												<td>
													<?php /* @escapeNotVerified */ echo $parcel['provider']; ?> / <?php /* @escapeNotVerified */ echo $parcel['type']; ?>
													<input name="price_id" type="hidden" value="<?php /* @escapeNotVerified */ echo $parcel['price_id']; ?>" required="required" />
												</td>
											</tr>
											<tr>
												<th>Scope</th>
												<td>
													<?php /* @escapeNotVerified */ echo $price['scope']; ?>
													<input name="scope" type="hidden" value="<?php /* @escapeNotVerified */ echo $price['scope']; ?>" required="required" />
												</td>
											</tr>
											<tr>
												<th>Method</th>
												<td>
													<?php /* @escapeNotVerified */ echo $parcel['method']; ?>
													<input name="send_type" type="hidden" value="<?php /* @escapeNotVerified */ echo $parcel['method']; ?>" required="required" />
												</td>
											</tr>
											<tr>
						                        <th>Pickup Date</th>
						                        <td>
						                        	<?php /* @escapeNotVerified */ echo $parcel['available_pickup_date']; ?>
						                        	<input name="pickup_date" type="hidden" value="<?php /* @escapeNotVerified */ echo $parcel['available_pickup_date']; ?>" required="required" />
						                        </td>
						                    </tr>
						                    <tr>
						                        <th>
						                        	<span style="color: #f00">*</span>
						                        	Parcel Length <strong>(cm)</strong>
						                        </th>
						                        <td><input name="parcel_length" class="required-entry input-text admin__control-text required-entry _required" type="text" required="required" /></td>
						                    </tr>   
						                	<tr>
							                    <th>
							                    	<span style="color: #f00">*</span>
							                    	Parcel Width <strong>(cm)</strong>
							                    </th>
							                    <td><input name="parcel_width" class="required-entry input-text admin__control-text required-entry _required" type="text" required="required" /></td>
							                </tr>
						                    
						                    <tr>
							                    <th>
							                    	<span style="color: #f00">*</span>
							                    	Parcel Height <strong>(cm)</strong>
							                    </th>
							                    <td><input name="parcel_height" class="required-entry input-text admin__control-text required-entry _required" type="text" required="required" /></td>
							                </tr>
						                    <tr>
						                        <th>Total Weight <strong>(kg)</strong></th>
						                        <td>
						                        	<?php /* @escapeNotVerified */ echo $price['total_weight']; ?>
						                        	<input name="total_weight" type="hidden" value="<?php /* @escapeNotVerified */ echo $price['total_weight']; ?>" />
						                        </td>
						                    </tr> 
					                    </tbody>
					                </table>
					            </div>
					        </div>
					    </div>
					</section>

					<section class="admin__page-section order-addresses">
					    <div class="admin__page-section-title">
					        <span class="title">Address Information</span>
					    </div>

					    <div class="admin__page-section-content">
					        <div class="admin__page-section-item order-billing-address">
					            <div class="admin__page-section-item-title">
					                <span class="title">Sender Address Details</span>
					            </div>

								<table class="admin__table-secondary order-account-information-table">
					                <tbody>
					                	<tr>
											<th>Name</th>
											<td>
												<input name="sender_name" class="required-entry input-text admin__control-text required-entry _required" type="text" value="<?php /* @escapeNotVerified */ echo $sender['name']; ?>" size="50" required="required" />
											</td>
										</tr>
										<tr>
											<th>Email</th>
											<td>
												<input name="sender_email" class="required-entry input-text admin__control-text required-entry _required" type="text" value="<?php /* @escapeNotVerified */ echo $sender['email']; ?>" size="50" required="required" />
											</td>
										</tr>
										<tr>
					                        <th>Phone No.</th>
											<td>
												<input name="sender_phone" class="required-entry input-text admin__control-text required-entry _required" type="text" value="<?php /* @escapeNotVerified */ echo $sender['phone']; ?>" size="50" required="required" />
											</td>
					                    </tr>
					                    <tr>
					                        <th>Address Line 1</th>
											<td>
												<input name="sender_address_line_1" class="required-entry input-text admin__control-text required-entry _required" type="text" value="<?php /* @escapeNotVerified */ echo $sender['add1']; ?>" size="50" required="required" />
											</td>
					                    </tr>   
					                	<tr>
					                        <th>Address Line 2</th>
											<td>
												<input name="sender_address_line_2" class="required-entry input-text admin__control-text required-entry _required" type="text" value="<?php /* @escapeNotVerified */ echo $sender['add2']; ?>" size="50" required="required" />
											</td>
						                </tr>
					                    
					                    <tr>
						                    <th>City</th>
											<td>
												<input name="sender_city" class="required-entry input-text admin__control-text required-entry _required" type="text" value="<?php /* @escapeNotVerified */ echo $sender['city']; ?>" size="50" required="required" />
											</td>
						                </tr>
					                    <tr>
					                        <th>Postcode</th>
											<td>
												<input name="from_postcode" class="required-entry input-text admin__control-text required-entry _required" type="text" value="<?php /* @escapeNotVerified */ echo $sender['postcode']; ?>" size="5" required="required" />
											</td>
					                    </tr> 
					                    <tr>
					                        <th>State</th>
											<td>
												<input name="sender_state" class="required-entry input-text admin__control-text required-entry _required" type="text" value="<?php /* @escapeNotVerified */ echo $sender['state']; ?>" size="15" required="required" />
											</td>
					                    </tr> 
					                    <tr>
					                        <th>Country</th>
											<td>
												<input name="sender_country" class="required-entry input-text admin__control-text required-entry _required" type="text" value="<?php /* @escapeNotVerified */ echo $sender['country']; ?>" size="15" required="required" />
											</td>
					                    </tr> 
					                </tbody>
					            </table>
					        </div>

							<div class="admin__page-section-item order-shipping-address">
								<div class="admin__page-section-item-title">
									<span class="title">Receiver Address Details</span>
								</div>

								<table class="admin__table-secondary order-account-information-table">
					                <tbody>
					                	<tr>
											<th>Name</th>
											<td>
												<input name="receiver_name" class="required-entry input-text admin__control-text required-entry _required" type="text" value="<?php /* @escapeNotVerified */ echo $receiver['firstname'].' '.$receiver['lastname']; ?>" size="50" required="required" />
											</td>
										</tr>
										<tr>
											<th>Email</th>
											<td>
												<input name="receiver_email" class="required-entry input-text admin__control-text required-entry _required" type="text" value="<?php /* @escapeNotVerified */ echo $receiver['email']; ?>" size="50" required="required" />
											</td>
										</tr>
										<tr>
					                        <th>Phone No.</th>
											<td>
												<input name="receiver_phone" class="required-entry input-text admin__control-text required-entry _required" type="text" value="<?php /* @escapeNotVerified */ echo $receiver['telephone']; ?>" size="50" required="required" />
											</td>
					                    </tr>
					                    <tr>
					                        <th>Address Line 1</th>
											<td>
												<input name="receiver_address_line_1" class="required-entry input-text admin__control-text required-entry _required" type="text" value="<?php /* @escapeNotVerified */ $add1 = isset($receiver['address'][0]) ? strtolower($receiver['address'][0]) : ''; echo $add1; ?>" size="50" required="required" />
											</td>
					                    </tr>   
					                	<tr>
					                        <th>Address Line 2</th>
											<td>
												<input name="receiver_address_line_2" class="required-entry input-text admin__control-text required-entry _required" type="text" value="<?php /* @escapeNotVerified */ $add2 = isset($receiver['address'][1]) ? strtolower($receiver['address'][1]) : ''; echo $add2; ?>" size="50" required="required" />
											</td>
						                </tr>
					                    
					                    <tr>
						                    <th>City</th>
											<td>
												<input name="receiver_city" class="required-entry input-text admin__control-text required-entry _required" type="text" value="<?php /* @escapeNotVerified */ echo $receiver['city']; ?>" size="50" required="required" />
											</td>
						                </tr>
					                    <tr>
					                        <th>Postcode</th>
											<td>
												<input name="to_postcode" class="required-entry input-text admin__control-text required-entry _required" type="text" value="<?php /* @escapeNotVerified */ echo $receiver['postcode']; ?>" size="5" required="required" />
											</td>
					                    </tr> 
					                    <tr>
					                        <th>State</th>
											<td>
												<select name="to_state_name" class="required-entry required-entry _required admin__control-select">
													<option value="">- Choose your states for domestics -</option>
													<?php
														foreach($states['data'] as $value) {
														?>
														<option value="<?php echo $value['name']; ?>"><?php echo $value['name']; ?></option>
													<?php } ?>
												</select>
											</td>
					                    </tr> 
					                    <tr>
					                        <th>Country</th>
											<td>
												<select name="to_country_id" class="required-entry required-entry _required admin__control-select">
													<option value="<?php echo $country['data'][133]['id']; ?>"><?php echo $country['data'][133]['name']; ?></option>
													<?php
														foreach($country['data'] as $value) {
														?>
														<option value="<?php echo $value['id']; ?>"><?php echo $value['name']; ?></option>
													<?php } ?>
												</select>
											</td>
					                    </tr> 
					                </tbody>
					            </table>
							</div>
					    </div>
					</section>

					<section class="admin__page-section order-view-billing-shipping">
						<div class="admin__page-section-title">
							<span class="title">Parcel Details &amp; Account Information</span>
						</div>

						<div class="admin__page-section-content">
							<div class="admin__page-section-item order-payment-method">
								<div class="admin__page-section-item-title">
									<span class="title">Parcel Details</span>
								</div>

								<div class="admin__page-section-item-content">
									<table class="admin__table-secondary order-information-table">
						                <tbody>
						                    <tr>
						                        <th>Referrence No.</th>
						                        <td># 
						                        	<input name="referrence_number" class="required-entry input-text admin__control-text required-entry _required" type="text" size="10" value="<?php /* @escapeNotVerified */ echo $parcel['increment_id']; ?>" />
						                        </td>
						                    </tr>
						                	<tr>
							                    <th>
							                    	<span style="color: #f00">*</span>
							                    	Content Type
							                    </th>
							                    <td>
							                    	<select name="content_type_id" class="required-entry required-entry _required admin__control-select" required="required">
														<option value="">- Choose Product Type -</option>
														<?php
															foreach($product['data'] as $value) {
															?>
															<option value="<?php echo $value['id']; ?>"><?php echo $value['title']; ?></option>
														<?php } ?>
													</select>
							                    </td>
							                </tr>
						                	<tr>
							                    <th>
							                    	<span style="color: #f00">*</span>
							                    	Content Value (RM)
							                    </th>
							                    <td>
							                    	<input name="content_value" class="required-entry input-text admin__control-text required-entry _required" type="number" size="10" step="any" required="required" />
							                    </td>
							                </tr>
						                    <tr>
							                    <th>
							                    	<span style="color: #f00">*</span>
							                    	Content Description
							                    </th>
							                    <td>
							                    	<div class="admin__field-control">
								                    	<textarea name="content_description" rows="3" cols="5" class="admin__control-textarea" required="required"></textarea>
								                    </div>
							                    </td>
							                </tr>                            
						                </tbody>
						            </table>
								</div>
							</div>

							<div class="admin__page-section-item order-totals">
								<div class="admin__page-section-item-title">
									<span class="title">Order Totals</span>
								</div>
								<table class="data-table admin__table-secondary order-subtotal-table">
									<?php
									$pricing = $parcel['price'];
									$minus = explode(' ',$pricing);
									$topup_balance = $product['meta']['currency_code'].' '.$product['meta']['topup_balance'];
									$grand_total = $product['meta']['currency_code'].' '.($product['meta']['topup_balance']-$minus[1]);
									?>
									<tbody>
										<tr class="col-0">
											<td class="label">Subtotal</td>
											<td>
												<span><span class="price"><?php echo $pricing; ?></span></span>
											</td>
										</tr>
										<tr class="col-1">
											<td class="label">MyParcelAsia Account Balance</td>

											<td>
												<span><span class="price"><?php echo $topup_balance; ?></span></span>
											</td>
										</tr>
									</tbody>

									<tfoot>
										<tr class="col-0">
											<td class="label">
												<strong>Total Account Balance</strong>
											</td>
											<td>
												<strong><span class="price"><?php echo $grand_total; ?></span></strong>
											</td>
										</tr>
										<tr>
											<td></td>
											<td>
												<button type="submit" name="submit_shipment" class="action submit primary" title="<?php  echo __('Select') ?>">
													<span><?php echo __('Confirm Create Shipment') ?></span>
												</button>
											</td>
										</tr>
									</tfoot>
								</table>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
</form>

