<?php
$data = $block->getAllShipment();
?>

<section id="order-addresses" class="admin__page-section order-addresses">
	<div class="admin__page-section-title">
		<span class="title">View All Shipment</span>
	</div>

	<table class="data-grid">
		<thead>
			<tr>
				<th class="data-grid-th" style="text-align: center;">Shipment ID</th>
				<th class="data-grid-th" style="text-align: center;">MPA-Order No.</th>
				<th class="data-grid-th" style="text-align: center;">Tracking No.</th>
				<th class="data-grid-th" style="text-align: center;">Magento-Order No.</th>
				<th class="data-grid-th" style="text-align: center;">Deliver To</th>
				<th class="data-grid-th" style="text-align: center;">Courier</th>
				<th class="data-grid-th" style="text-align: center;">Delivery Charges</th>
				<th class="data-grid-th" style="text-align: center;"></th>
			</tr>
		</thead>
		<tbody style="text-align: center;">
			<?php foreach ($data['data'] as $key => $value) { ?>
				<?php if($value['shipment_created'] == true) { ?>
					<tr class="data-row">
						<td><?php /* @escapeNotVerified */ echo $value['shipment_id']; ?></td>
						<td><?php /* @escapeNotVerified */ echo $value['order_id']; ?></td>
						<td><?php /* @escapeNotVerified */ echo $value['tracking_no']; ?></td>
						<td><?php /* @escapeNotVerified */ echo $value['referrence_number']; ?></td>
						<td>
							<?php 
								/* @escapeNotVerified */ echo $value['receiver_name'].'<br>'.
								/* @escapeNotVerified */ '('.$value['receiver_phone'].')<br>'.
								/* @escapeNotVerified */ '('.$value['to_state_name'].')';
							?>
						</td>
						<td><?php /* @escapeNotVerified */ echo $value['provider_name']; ?></td>
						<td>
							<?php /* @escapeNotVerified */ echo $value['currency_label'].' '.number_format($value['total_amount'], 2); ?>
						</td>
						<td>
							<span>
								<?php if($value['tracking_no'] != null) { ?>
									<button type="submit" name="download_note" class="action submit primary" title="<?php echo __('Download Consignment Note') ?>">
										<span>
											<a href="<?php echo $value['consignment_note']; ?>" target="_blank" style="text-decoration: none !important;">
											<?php echo __('Download Consignment Note') ?>
											</a>
										</span>
									</button>

								<?php } else { ?>
									<form class="form" id="custom-form" method="post" autocomplete="off" action="">
										<div>
											<input name="form_key" type="hidden" value="<?php /* @escapeNotVerified */ echo $block->getFormKey() ?>" />
											<input name="shipment_id" type="hidden" value="<?php /* @escapeNotVerified */ echo $value['shipment_id'] ?>" />
											<button type="submit" name="submit_checkout" class="action submit primary" title="<?php  echo __('Checkout') ?>">
												<span><?php echo __('Checkout') ?></span>
											</button>
										</div>
									</form>
								<?php } ?>
							</span>
						</td>
					</tr>
				<?php } ?>
			<?php } ?>
		</tbody>
	</table>
</section>

<script type="text/x-magento-init">
    {
        "#custom-form": {
            "validation": {}
        }
    }
</script>

