<?php
$data = $block->getAllConNote();
?>

<section id="order-addresses" class="admin__page-section order-addresses">
	<div class="admin__page-section-title">
		<span class="title">View All Consignment Note</span>
	</div>

	<table class="data-grid">
		<thead>
			<tr>
				<th class="data-grid-th" style="text-align: center;">MPA-Order No.</th>
				<th class="data-grid-th" style="text-align: center;">Tracking No.</th>
				<th class="data-grid-th" style="text-align: center;">Magento-Order No.</th>
				<th class="data-grid-th" style="text-align: center;">Deliver To</th>
				<th class="data-grid-th" style="text-align: center;">Courier</th>
				<th class="data-grid-th" style="text-align: center;">Delivery Charges</th>
				<th class="data-grid-th" style="text-align: center;"></th>
			</tr>
		</thead>
		<tbody style="text-align: center;">
			<?php foreach ($data['data'] as $key => $value) { ?>
				<?php if($value['shipment_created'] == true) { ?>
					<tr class="data-row">
						<td><?php /* @escapeNotVerified */ echo $value['order_id']; ?></td>
						<td><?php /* @escapeNotVerified */ echo $value['tracking_no']; ?></td>
						<td><?php /* @escapeNotVerified */ echo $value['referrence_number']; ?></td>
						<td>
							<?php 
								/* @escapeNotVerified */ echo $value['receiver_name'].'<br>'.
								/* @escapeNotVerified */ '('.$value['receiver_phone'].')<br>'.
								/* @escapeNotVerified */ '('.$value['to_state_name'].')';
							?>
						</td>
						<td><?php /* @escapeNotVerified */ echo $value['provider_name']; ?></td>
						<td>
							<?php /* @escapeNotVerified */ echo $value['currency_label'].' '.number_format($value['total_amount'], 2); ?>
						</td>
						<td>
							<span>
								<a href="https:\/\/demo.myparcelasia.com\/dload\/label\/T1RBPQ==" target="_blank" style="text-decoration: none;">
									<?php echo __('Download Consignment Note') ?>
								</a>
							</span>
						</td>
					</tr>
				<?php } ?>
			<?php } ?>
		</tbody>
	</table>
</section>

<script type="text/x-magento-init">
    {
        "#custom-form": {
            "validation": {}
        }
    }
</script>

