<?php
$data = $block->getCart();
?>

<section id="order-addresses" class="admin__page-section order-addresses">
	<div class="admin__page-section-title">
		<span class="title">Pending Shipment</span>
	</div>

	<table class="data-grid">
		<thead>
			<tr>
				<th class="data-grid-th" style="text-align: center;">Courier</th>
				<th class="data-grid-th" style="text-align: center;">Sender</th>
				<th class="data-grid-th" style="text-align: center;">Receiver</th>
				<th class="data-grid-th" style="text-align: center;">Price</th>
				<th class="data-grid-th" style="text-align: center;"></th>
			</tr>
		</thead>
		<tbody style="text-align: center;">
			<?php foreach ($data['data'] as $key => $value) { ?>
				<?php if($value['shipment_created'] == false) { ?>
					<tr class="data-row">
						<td><?php /* @escapeNotVerified */ echo $value['provider_name']; ?></td>
						<td><?php /* @escapeNotVerified */ echo $value['sender_name']; ?></td>
						<td>
							<?php 
								/* @escapeNotVerified */ echo $value['receiver_name'].'<br>'.
								/* @escapeNotVerified */ '('.$value['receiver_phone'].')<br>'.
								/* @escapeNotVerified */ '('.$value['to_state_name'].')';
							?>
						</td>
						<td>
							<?php /* @escapeNotVerified */ echo $value['currency_label'].' '.number_format($value['total_amount'], 2); ?>
						</td>
						<td>
							<span>
								<a href="" target="_blank" style="text-decoration: none;">
									<?php echo __('Download Consignment Note') ?>
								</a>
							</span>
						</td>
					</tr>
				<?php } ?>
			<?php } ?>
		</tbody>
	</table>
</section>

