<?php
$data = $block->getQuotesDetails();
?>

<form class="form" id="custom-form" method="post" autocomplete="off" action="">
	<div><input name="form_key" type="hidden" value="<?php /* @escapeNotVerified */ echo $block->getFormKey() ?>" /></div>
	<section id="order-addresses" class="admin__page-section order-addresses">
		<div class="admin__page-section-title">
			<span class="title">Select Courier</span>
		</div>

		<table class="data-grid data-grid-draggable">
			<thead>
				<tr>
					<th class="data-grid-th">Courier</th>
					<th class="data-grid-th">Type</th>
					<th class="data-grid-th">Method</th>
					<th class="data-grid-th">Pickup Date</th>
					<th class="data-grid-th">Normal Rate</th>
					<th class="data-grid-th">Exclusive Rate</th>
					<th class="data-grid-th">Order No.</th>
					<th class="data-grid-th"></th>
				</tr>
			</thead>
			<tbody>
				<?php foreach ($data['data'] as $key => $value) { ?>
					<tr class="data-row">
						<td>
							<input name="price_id" type="hidden" value="<?php /* @escapeNotVerified */ echo $value['price_id']; ?>" />
							<input name="provider" type="hidden" value="<?php /* @escapeNotVerified */ echo $value['provider']; ?>" />
							<?php /* @escapeNotVerified */ echo $value['provider']; ?>
						</td>
						<td>
							<input name="type" type="hidden" value="<?php /* @escapeNotVerified */ echo $value['type']; ?>" />
							<?php /* @escapeNotVerified */ echo $value['type']; ?>
						</td>
						<td>
							<select class="admin__control-select" name="method">
								<?php if($value['can_pickup'] == 1) { echo '<option value="pickup">Pick Up</option>'; } ?>
								<?php if($value['can_walkin'] == 1) { echo '<option value="walkin">Walk In</option>'; }?>
							</select>
						</td>
						<td>
							<select class="admin__control-select" name="available_pickup_date">
								<?php
									foreach ($value['available_pickup_date'] as $item) {
										echo '<option value="'.$item.'">'.$item.'</option>';
									}
								?>
							</select>
						</td>
						<td>
							<?php 
							if($value['price_type'] == 'normal') {
								echo '<strong>'.$value['currency_code'].' '.$value['normal_price'].'</strong>';
								echo '<input name="price" type="hidden" value="'.$value['currency_code'].' '.$value["normal_price"].'" />';
							} else {
								echo $value['currency_code'].' '.$value['normal_price'];
							}
							?>
						</td>
						<td>
							<?php 
							if($value['price_type'] == 'exclusive') {
								echo '<strong>';
								echo $value['currency_code'].' '.$value['exclusive_price'];
								echo '</strong>';
								echo '<input name="price" type="hidden" value="'.$value['currency_code'].' '.$value["exclusive_price"].'" />';
							} else {
								echo $value['currency_code'].' '.$value['exclusive_price'];
								echo '<div class="admin__field-tooltip">';
								echo '<a class="admin__field-tooltip-action action-help" target="_blank" tabindex="1" data-bind="attr: {href: tooltip.link}" href="https://myparcelasia.com/"></a>';
								echo '<div class="admin__field-tooltip-content" data-bind="text: tooltip.description">';
								echo '(Login to myparcelasia.com and) Topup as low as RM 50 to enjoy exclusive rates';
								echo '</div>';
							}
							?>
						</td>
						<td><input class="admin__control-text required _required" name="increment_id" type="text" value="<?php echo $data['increment_id'] ?>" /></td>
						<td>
							<button type="submit" name="submit_quotes" class="action submit primary" title="<?php  echo __('Select') ?>">
								<span><?php echo __('Select') ?></span>
							</button>
						</td>
					</tr>
				<?php } ?>
			</tbody>
		</table>
	</section>
</form>

<script type="text/x-magento-init">
    {
        "#custom-form": {
            "validation": {}
        }
    }
</script>