
<form class="form" id="custom-form" method="post" autocomplete="off" action="">
	<div><input name="form_key" type="hidden" value="<?php /* @escapeNotVerified */ echo $block->getFormKey() ?>" /></div>
	<section id="order-addresses" class="admin__page-section order-addresses">
		<div class="admin__page-section-title">
			<span class="title">Get Quotes</span>
		</div>
		<div class="admin__page-section-content">
			<div id="order-billing_address" class="admin__page-section-item order-billing-address">

				<fieldset class="admin__fieldset">

					<fieldset id="order-billing_address_choice" class="admin__fieldset order-choose-address">
						<div class="admin__field field required _required">
							<label for="quote-scope" class="label admin__field-label"><span>Scope</span></label>
							<div class="admin__field-control control">
								<select id="quote-scope" name="scope" class="required-entry required-entry _required admin__control-select">
									<option value="domestic">Domestic</option>
									<option value="international">International</option>
								</select>
							</div>
						</div>
					</fieldset>

					<div class="order-address admin__fieldset" id="order-billing_address_fields">

						<div class="order-address admin__fieldset" id="quote-details">
							<div class="admin__field field required _required">
								<label for="quote-from_postcode" class="label admin__field-label"><span>From Postcode</span></label>
								<div class="admin__field-control control">
									<input id="quote-from_postcode" name="from_postcode" value="" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-invalid="true" style="background-image: none; background-color: rgb(255, 255, 255);">
								</div>
							</div>
							<div class="admin__field field required _required">
								<label for="quote-to_postcode" class="label admin__field-label"><span>To Postcode</span></label>
								<div class="admin__field-control control">
									<input id="quote-to_postcode" name="to_postcode" value="" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-invalid="true" style="background-image: none; background-color: rgb(255, 255, 255);">
								</div>
							</div>
							<div class="admin__field field required _required">
								<label for="quote-total_weight" class="label admin__field-label"><span>Total Weight</span></label>
								<div class="admin__field-control control">
									<input id="quote-total_weight" name="total_weight" value="" class="required-entry input-text admin__control-text required-entry _required" type="text" aria-invalid="true" style="background-image: none; background-color: rgb(255, 255, 255);">
								</div>
							</div>
							<div class="admin__field field required _required">
								<label for="quote-to_country_id" class="label admin__field-label"><span>Country</span></label>
								<div class="admin__field-control control">
									<select id="quote-to_country_id" name="country_id" class="required-entry required-entry _required admin__control-select">
										<option value="">- Choose Country -</option>
										<?php

										$country_id = $block->getCountry();

										if(count($country_id) > 0) {
											foreach($country_id['data'] as $value) {
												?>
												<option value="<?php echo $value['id'].'-'.$value['name']; ?>"><?php echo $value['name']; ?></option>
										<?php 
											}
										}
										?>
									</select>
								</div>
							</div>
						</div>
					</div>
				</fieldset>
			</div>
		</div>
	</section>
   	<div class="actions-toolbar">
        <div class="primary">
            <button type="submit" name="submit_quotes" class="action submit primary" title="<?php  echo __('Submit') ?>"><span><?php echo __('Submit') ?></span></button>
        </div>
    </div>
</form>

<script type="text/x-magento-init">
    {
        "#custom-form": {
            "validation": {}
        }
    }
</script>

