<?php
$blockObj= $block->getLayout()->createBlock('Magento\Sales\Block\Adminhtml\Order\View\Tab\Info');
$order = $blockObj->getOrder();
$weight = (number_format($order->getWeight(), 2, '.', ','));
echo $weight;
?>

<section class="admin__page-section order-view-account-information">
	<div class="admin__page-section-title">
		<span class="title">MyParcelAsia : Get Quotes</span>
	</div>
	<form class="form" id="custom-form" method="post" autocomplete="off" action="<?php echo $block->getBaseUrl() ?>">
		<table class="admin__table-secondary">
			<tr>
				<th>Scope</th>
				<td>
					<select id="quote-scope" name="scope" class="required-entry required-entry _required admin__control-select">
						<option value="domestic">Domestic</option>
						<option value="international">International</option>
					</select>
				</td>
			</tr>
			<tr>
				<th>From Postcode</th>
				<td><input type="text" name="from_postcode" value="<?php echo $block->getPostcode() ?>" required="required" /></td>
			</tr>
			<tr>
				<th>To Postcode</th>
				<td><input type="text" name="to_postcode" value="<?php echo $order->getBillingAddress()->getPostcode(); ?>" required="required" /></td>
			</tr>
			<tr>
				<th>Total Weight (kg)</th>
				<td><input type="number" name="total_weight" value="<?php echo $weight; ?>" required="required"></td>
			</tr>
			<tr>
				<th>Country</th>
				<td>
					<select id="quote-to_country_id" name="country_id" class="required-entry required-entry _required admin__control-select">
						<option value="135-Malaysia">- Default: Malaysia -</option>
						<?php

						$country_id = $block->getCountry();

						foreach($country_id['data'] as $value) {
							?>
							<option value="<?php echo $value['id'].'-'.$value['name']; ?>"><?php echo $value['name']; ?></option>
						<?php } ?>
					</select>
				</td>
			</tr>
			<tr>
				<th><input type="hidden" name="form_key" value="<?php echo $block->getFormKey() ?>" /></th>
				<td><input type="hidden" name="increment_id" value="<?php echo $order->getRealOrderId() ?>"></td>
			</tr>
			<tr>
				<th></th>
				<td>
					<div class="actions-toolbar">
						<div class="primary">
							<button type="submit" name="submit_quotes" class="action submit primary" title="<?php  echo __('Submit') ?>"><span><?php echo __('Submit') ?></span></button>
						</div>
					</div>
				</td>
			</tr>
		</table>
	</form>
	<br>
</section>